*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
}

#main {
  width: 100%;
}

#hero {
  width: 100%;
  height: 100vh;
  background-color: black;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 20px;
  color: #fff;
  background-color: red;
}

#nav a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #fff;
}

#nav i {
  font-size: 25px;
}